<!DOCTYPE html>
<html ng-app="myApp" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular + PHP</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/xml2json.min.js"></script>
    <script src="js/angular-xml.min.js"></script>
    <script src="js/myapp.js"></script>
    <script src="js/MyitemShow.js"></script>
</head>

<body>
    <div ng-controller="formCtr">
        <form>
            <input type="text" placeholder="Employee ID" required ng-model="empno" />
            <br>
            <input type="text" placeholder="Frist Name" required ng-model="fname" />
            <br>
            <input type="text" placeholder="Last Name" required ng-model="lname" />
            <br>
            <input type="text" placeholder="Department" required ng-model="dept" />
            <br>
            <input type="button" value="submit" ng-click="submit()" />
        </form>
<br>
        <hr>
        <br>
    <section ng-controller="MyitemShow">
 
<div ng-repeat="item in items" >
 {{ item.first_name }}, {{ item.id }} <button ng-click="deleteItem(item.id);">x</button>
</div>
 <strong>{{ fname }}</strong>
 
</section>

 
    </div>
</body>

</html>
